.contacte-nos-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    padding: 20px;
    width: 400px;
    background-color: rgb(222 9 149 / 37%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(142 123 167);
}
  
  .contacte-nos h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contacte-nos ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  .contacte-nos li {
    margin-bottom: 5px;
  }
  
  .contacte-nos a {
    text-decoration: none;
    color: #007BFF;
  }
  