<div class="contacte-nos-card">
  <div class="card">
<div class="contacte-nos">
    <h2>Contacte-nos</h2>
    <p>Para entrar em contato conosco,<br> utilize os seguintes meios:</p>
    <ul>
      <li><strong>Telefone:</strong> +351 965 313 015</li>
      <li><strong>Email:</strong> joy.josie.sousa@gmail.com</li>
      <li><strong>GitHub:</strong> <a href="https://github.com/Joyzy79" target="_blank">joyzy79</a></li>
      <li><a mat-button routerLink="/alterar-senha">Alterar Senha</a></li>
    </ul>

  </div>
  
