
:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  
  .mat-card {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  /* Aumentar o tamanho do botão */
  .mat-raised-button {
    font-size: 16px;
    padding: 10px 20px;
  }
  
  /* Espaçamento entre os campos e o botão */
  .mat-form-field,
  button {
    margin-bottom: 15px;
  }
  