.movimentacao-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(175, 230, 220);
}
h4{
  color: #6b045f;
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}
.saldo-card {
  width: 400px;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  color: #f9f5fa;
  border: 1px solid  #c2185b;
  background-color:  #c2185b;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.movimentacao-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 400px;
  height: 25px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #c169cbb1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 20px;
}

.card-content mat-icon {
  margin-left:  10;
}

.span-data {
  font-size: 12px;
  color: #888;
  justify-content: center;
}

.card ul.list-inline {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.card ul.list-inline li {
  margin-right: 60px;
}



